.profile__stat {

}

.subprofile__stat {
  margin-left: 15px;
}

.stat__property {
  font-weight: 500;
  opacity: 1;
}

.link__warning {
  color: green;
  font-size: 14px;
}

.stat__input {
  width: 100%;
  padding: 5px 10px;
  
  font-family: "Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif";
  font-size: 20px;

  border: 2px #842691 solid;
  background-color: #c49dbe;
  border-radius: 5px;
  resize: none;
}

.stat__input:focus,
.stat__input:hover {

}

.stat__select {
  width: 100%;
  padding: 5px 10px;
  
  font-family: "Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif";
  font-size: 20px;

  border: 2px #842691 solid;
  background-color: #c49dbe;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .profile__stat,
  .stat__select,
  .stat__input {
    font-size: 15px;
  }

  .link__warning {
    font-size: 10px;
  }
}