.textcreator__wrapper {
  display: table;
  width: 100%;
  margin-top: 10px;
}

.profile__smallphoto {
  display: table-cell;
  width: 50px;
  height: 50px;
  vertical-align: top;
}

.profile__smallphoto img {
  width: 50px;
  height: 50px;

  border: 2px #842691 solid;
  background-color: rgb(196, 157, 190);
  border-radius: 5px;
}

.textcreator__content {
  display: table-cell;
  padding-left: 15px;
}

.textcreator__textarea {
  width: 100%;
  resize: none;
  min-height: 100px;
  margin-bottom: 2px;
  padding: 5px 10px;
  
  font-family: "Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif";
  font-size: 20px;

  border: 2px #842691 solid;
  background-color: #c49dbe;
  border-radius: 5px;
}

.textcreator__textarea:focus,
.textcreator__textarea:hover {
  margin: 0;
  padding: 4px 9px 6px 9px;

  outline: 0;
  border: 3px #842691 solid;
}

.textcreator__textarea::-webkit-scrollbar {
  margin-right: 1px;
  width: 12px;
  background-color: #c49dbe;
}

.textcreator__textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #842691;
}

.textcreator__textarea::-webkit-scrollbar-track {
  background-color: #c49dbe;
}

.textcreator__textarea::-webkit-resizer {
  margin-right: 1px;
  background: #842691;
}

.textcreator__button {
  display: block;
  margin-left: auto;
  width: 120px;
  height: 35px;
  
  font-family: "Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif";
  font-size: 20px;

  border: 2px #842691 solid;
  background-color: #c49dbe;
  border-radius: 5px;
  transition: background-color .3s linear;
}

.textcreator__button:hover {
  cursor: pointer;
  background-color: #b66ec0;
}

.textcreator__button:active {
  background-color: #b83dc9;
}