.base {
  width: 100%;
  height: calc(100vh - 90px);

  overflow-y: auto;
}

.base::-webkit-scrollbar {
  margin-right: 1px;
  width: 12px;
  background-color: #c49dbe;
}

.base::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #842691;
}

.base::-webkit-scrollbar-track {
  background-color: #c49dbe;
}

.preloader {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

@media (max-width: 1000px) {
  .base {
    margin-top: 5px;
    height: calc(100vh - 150px);
  }
}