.profile__info {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  margin-bottom: 10px;
  
  padding: 15px 30px;
  border-radius: 10px;
  background-color: #fff;
}

.profile__name {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
}

.profile__status {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.7;
}

.profile__description {
  margin-bottom: 5px;
}

.profile__photo {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.profile__photo img {
  width: 250px;
  height: auto;
}