.status {
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.7;
  cursor: default;
}

.status__editor {
  margin-left: auto;
  max-width: 500px;
  border: 2px #842691 solid;
  background-color: #e7e8ea;
  border-radius: 5px;
}

.status__input__wrapper {
  margin: 5px 10px;
}

.status__input {
  width: 100%;
  padding: 5px 10px;
  
  font-family: "Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif";
  font-size: 20px;

  border: 2px #842691 solid;
  background-color: #c49dbe;
  border-radius: 5px;
  resize: none;
}

.status__input:focus,
.status__input:hover {

}

.button__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px 10px;
  width: 100%;
}

.button {
  display: block;
  margin-left: auto;
  width: 60px;
  height: 25px;
  
  font-family: "Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif";
  font-size: 15px;

  border: 2px #842691 solid;
  background-color: #c49dbe;
  border-radius: 5px 0 5px 8px;
  transition: background-color .3s linear;
}

.button:hover {
  cursor: pointer;
  background-color: #b66ec0;
}

.button:active {
  background-color: #b83dc9;
}

.button__clear {
  background-color: #fff;
}