body {
    margin: 0;
    height: auto;
    background-size: 100% 700px;
    background-color: #e7e8ea;
    font-family: "Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif";
    font-size: 20px;
    line-height: 1.5;
    color: #333;
}

@media (max-width: 700px) {
    body {
        background-size: 100% 1050px;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2,
h3 {
    font-family: "Colaborate";
    font-size: 27px;
    font-weight: 300;
    line-height: .85;
    color: #505050;
}

h4 {
    font-family: "Colaborate";
    font-size: 15px;
    font-weight: 300;
    line-height: 1.333;
    color: #5f7390;
}

.section {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.section:nth-child(1) {
    margin-top: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;

    color: #000;
    border-radius: 10px;
    background-color: #fff;
}

.container.container__header {
    background-color: rgb(78, 22, 85);
}