.dialogs {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  width: 100%;
  height: calc(100vh - 105px);
}

.messages__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}

@media (max-width: 1000px) {
  .dialogs {
    position: relative;
    height: calc(100vh - 160px);
    grid-template-columns: 1fr;
  }

  .addressee__wrapper {
    position: absolute;
    height: min-content;
    max-height: 90%;
    top: 10px;
    left: 10px;
    z-index: 1;
    padding: 5px 0px 5px 10px;

    border: 2px #842691 solid;
    border-radius: 5px;
    background-color: #c49dbe;
  }

}