.dialogs {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  width: 100%;
  height: calc(100vh - 105px);
}

.messages__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}