.follow__wrapper {
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-gap: 15px;
  height: calc(100vh - 105px);
}

.follow__wrapper.loading {
  grid-template-rows: 40px 1fr 50px;
}


.follow__preloader {
  display: none;
  margin: 0 auto;
  height: 40px;
  width: 40px;
  text-align: center;
}

.follow__preloader.loading {
  display: block;
}

.follow__preloader img {
  margin-top: -5px;
  width: 60px;
  height: 60px;
}

@media (max-width: 1000px) {
  .follow__wrapper {
    height: calc(100vh - 160px);
  }
}