.message {
  margin: 5px 0;
  max-width: 80%;
  height: max-content;
  overflow: hidden;
}

.message.outgoing {
  margin-left: auto;
}

.userPhoto {
  margin-top: 3px;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: top;
}

.userPhoto img {
  width: 50px;
  height: auto;
}

.message__data {
  display: inline-block;
  margin: 0 10px;
  max-width: calc(100% - 120px);
  vertical-align: top;
}

.message__author {
  margin-bottom: 3px;
  padding: 0 10px;

  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 1;
  text-decoration: none;

  cursor: pointer;
}

.message__author.outgoing {
  text-align: right;
}

.message__text {
  margin-bottom: 5px;
  padding: 5px 10px;

  font-size: 19px;
  opacity: 1;

  background-color: #f7c9ef;
  border-radius: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.message__text.outgoing {
  background-color: #c49dbe;
}

.message__date {
  display: inline-block;
  width: 50px;
  vertical-align: bottom;

  font-size: 12px;
  font-weight: bold;
  opacity: .5;
}